<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="mhc">
  <test name="Login page">
  	<classes>
  		<class name="de.webtogo.tests.TestLoginPage"/>
  	</classes>
  </test> 
  
  <test name="Myplate Page">
  	<classes>
  		<class name="de.webtogo.tests.TestMyPlatePage"/>
  	</classes>
  </test><!-- Test -->
</suite> <!-- Suite -->
